[Unit]
Description=playlog backend
Wants=network-online.target
After=network-online.target

[Service]
User=playlog
Type=simple
WorkingDirectory=/var/lib/playlog/playlog
ExecStart=/usr/bin/go run main.go -vl3002
Restart=on-failure

[Install]
WantedBy=multi-user.target
